* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*-----------------------------*/

body {
	font-family: "Roboto", sans-serif;
}

.header {
	background-image: url(../img/fon.png);
	background-size: cover;
	background-position: center;
	height: 1000px;
}
.wrapper {
	margin: 0 auto;
	width: 1140px;
}
.navigation {
	padding-top: 42px;
	margin-bottom: 200px;
}

.logo {
	display: inline-block;
	font-size: 24px;
	font-family: "Ribeye", serif;
	font-weight: 700;
	color: #fff;
}

.menu {
	display: inline-block;
	margin-left: 210px;
}

.btn {
	display: inline-block;
}

.menu_item {
	display: inline;
	font-size: 18px;
	padding-right: 50px;
}
a {
	color: #fff;
}

.btn {
	background-color: #c9453b;
	border-radius: 5px;
}

.btn--booking {
	padding: 15px 35px;
	float: right;
}

.btn--more {
	padding: 18px 46px;
}

h1 {
	font-family: "Gelasio", serif;
	color: #fff;
	font-weight: 700;
	font-size: 65px;
	max-width: 804px;
	line-height: 120%;
}

.description {
	color: #fff;
	opacity: 0.6;
	font-size: 18px;
	font-weight: 400;
	max-width: 458px;
	margin-top: 30px;
	margin-bottom: 40px;
	line-height: 160%;
}

.description--black {
	color: #000;
	max-width: 735px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.locations {
	margin-top: 140px;
}

h2 {
	font-family: "Gelasio", serif;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card--city {
	width: 360px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.card--city img {
	width: 360px;
	height: 331px;
}

.card--name {
	font-family: "Gelasio", serif;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 10px;
}

.card--description {
	color: #000;
	max-width: 306px;
	text-align: center;
	font-size: 18px;
	opacity: 0.6;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 35px;
}
.card--city--center {
	margin-left: 30px;
	margin-right: 30px;
}

.footer {
	background-color: #f6fbfb;
}

.footer .logo {
	color: #000;
	font-size: 30px;
	display: inline-block;
	padding: 104px 0px;
	margin-right: 528px;
}
.contact {
	display: inline-block;
}
.email {
	display: inline-block;
	margin-right: 110px;
}

.social img {
	width: 20px;
	height: 20px;
}

.social {
	display: inline-block;
	margin-left: auto;
}

.pad {
	margin-right: 27px;
}

.address {
	margin-top: 140px;
}

.address h2 {
	margin-bottom: 50px;
}

.blog {
	margin-top: 140px;
}

.blog_new {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.left--img {
	width: 554px;
	margin-right: 30px;
}
.left-name {
	font-family: "Gelasio", serif;
	font-weight: 500;
	font-size: 20px;
	margin-top: 35px;
}

.left-description {
	max-width: 470px;
	font-weight: 400;
	font-size: 18px;
	color: #000;
	opacity: 0.6;
	line-height: 160%;
	margin: 10px 0px;
}

.left-email {
	font-weight: 500;
	font-size: 20px;
	color: #000;
	line-height: 150%;
}

.new_card img {
	max-width: 263px;
}

.new_card--name {
	font-family: "Gelasio", serif;
	font-weight: 500;
	font-size: 20px;
}

.new_card--description {
	max-width: 243px;
	font-weight: 400;
	font-size: 18px;
	color: #000;
	opacity: 0.6;
	line-height: 160%;
	margin-top: 10px;
	margin-bottom: 5px;
}

.nem_card--email {
	font-weight: 400;
	font-size: 20px;
	color: #000;
	line-height: 150%;
}

.def {
	display: inline-block;
	padding: 33px 0px;
	padding-left: 27px;
}

.cer--cent {
	margin: 30px 0;
}

.form {
	margin-top: 140px;
	padding-bottom: 140px;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.btn--form {
	padding: 15px 15px;
	text-align: center;
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
}

.form--input {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.input {
	margin-bottom: 10px;
	padding: 15px 0px;
	padding-left: 15px;
}

.about {
	margin-top: 140px;
}

table {
	margin: auto;
}

td {
	padding: 30px 30px;
	width: 400px;
	color: #000;
	line-height: 160%;
}

.big {
	font-family: "Gelasio", serif;
	font-weight: 500;
	font-size: 35px;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}

.td {
	text-align: center;
	border-top: 1px solid #c9453b;
}

.td--left {
	text-align: center;
	border-left: 1px solid #c9453b;
}

.table--p {
	text-align: center;
	font-size: 20px;
	color: black;
	opacity: 0.7;
	font-weight: 400;
}
